<div class="jumbotron">

    <h1 class="text-center text-muted"> Attribute Binding Example </h1>

    <table class="table"  [attr.border]="bdr">
        <thead>
          <tr>
            <th [attr.colspan]="col" class="text-center">Student Details</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Id</th>
            <td>Name</td>
            <td>City</td>
            <td>Course</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Nilesh</td>
            <td>Pune</td>
            <td>Java</td>
          </tr>
        
        </tbody>
      </table>


</div>